body {
    background-image: url(./1920x1200.jpg);
    background-attachment: fixed;
}

.box {
    background-color: rgba(238, 234, 185, 0.641);
    background-image: url(./bg07.png),url(./bg06.png), url(./bg08.png);
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-position: right top, top, bottom;
   
    font-weight: bold;
    text-align: justify;
    font-size: 17px;
    width: 1200px;
    margin: auto;
    padding: 20px;
}